/*Tarea 3*/
*{
    color: #FFF;
    background-color: #333;
    font-family: Georgia, Cambira, serif;
    font-size: 16px;
}

h1{
    color: #A0A;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}

h2{
    color: #FFE;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}

.datos{
    color: #99C;
}

.sustantivos{
    size: 20px;
    font-weight: bold;/*Tambien es etiqueta strong*/
}

.especial{
    background-color: #99C;
    color: white;
    font-style: italic;/*Tambien es etiqueta i*/
}