/*Tarea 2*/
#titulo{
    color: teal;
}

strong{
    color: red;
}

.destacado{
    color: orange;
}

#subtitulo{
    color: blue;
}

a{
    color: red;
}

em{
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

.especial{
    color: purple;
}

#adicional{
    border: 1px dashed black;
    color: olive
}

#especial{
    color: fuchsia;
}

#adicional a{
    color: green;
}