a{
    border: 1px solid red;
    padding: 5px;
    width: 300px;
    display: block;
}

div{
    border: 1px solid red;
    padding: 5px;
    width: 300px;
    display:block;
}

#div1{
    /*display: none;*/
    /*visibility: hidden;*/
}